// font
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// basics
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $bodyFont;
}
h1, h2, h3, h4 {
    font-family: $headingsFont;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: $transition;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    border: 1px solid red;
}
.btn {
    padding: 10px 40px;
    display: inline-block;
    border-radius: 10px;
}
.btn-yellow {
    background: $accents;
    color: $text;
}