@import 'vars';
@import 'mixins';
@import 'globals';

.mainHeader {
    // background-image: url(img/coffee-slajd-1.jpg);
    // background-position: center;
    // background-size: cover;
    // height: 100vh;
    // @include flex;
    color: $white;
    position: relative;
    img {
        height:800px;
        object-fit: cover;
    }
    hgroup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            padding: 20px 0 40px 0;
        }
    }

}

// ponuda
.ponuda {
    h2 {
        color: $accents;
        & + p {
            padding: 25px 0 76px 0;
        }
    }
    article {
        @include flex;
        div {
            flex: 0 0 32%;
            img {
                border: 5px solid $accents;
                border-radius: 100%;
            }
            h3 {
                margin: 45px 0 10px 0;
                font-size: 24px;
            }
        }
    }
}