@import 'vars';
@import 'mixins';
@import 'globals';

// nav
nav {
    position: fixed;
    background: rgba($black, .8);
    width: 100%;
    z-index: 100;
    .container {
        @include flex;
        ul {
            @include flex;
            a {
                color: $accents;
                margin-left: 50px;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
.mainHeader {
    // background-image: url(img/coffee-slajd-1.jpg);
    // background-position: center;
    // background-size: cover;
    // height: 100vh;
    // @include flex;
    color: $white;
    position: relative;
    img {
        width: 100%;
        display: block;
        height:800px;
        object-fit: cover;
    }
    hgroup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            padding: 20px 0 40px 0;
        }
    }

}