@import 'vars';
@import 'mixins';
@import 'globals';

.mainHeader {
    // background-image: url(img/coffee-slajd-1.jpg);
    // background-position: center;
    // background-size: cover;
    // height: 100vh;
    // @include flex;
    color: $white;
    position: relative;
    img {
        height:800px;
        object-fit: cover;
        @media(max-width: 767px) {
            height:700px;
        }
    }
    hgroup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            padding: 20px 0 40px 0;
        }
    }

}

// ponuda
.ponuda {
    h2 {
        color: $accents;
        & + p {
            padding: 25px 0 76px 0;
        }
    }
    article {
        @include flex;
        div {
            flex: 0 0 32%;
            @media(max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
            img {
                border: 5px solid $accents;
                border-radius: 100%;
            }
            h3 {
                margin: 45px 0 10px 0;
                font-size: 24px;
            }
        }
    }
}

// meni
.meni {
    background: $black;
    @include flex;
    div {
        h2 {
            color: $accents;
        }
        &:first-child {
            flex: 0 0 60%;
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
            .row {
                padding: 100px;
                @include flex;
                @media(max-width: 767px) {
                    padding: 20px;
                }
                .menu-item {
                    @include flex;
                    flex: 0 0 50%;
                    margin-bottom: 40px;
                    padding: 100px;
                    @media(max-width: 767px) {
                        padding: 20px;
                        flex: 0 0 100%;
                        margin-bottom: 20px;
                    }
                    .img {
                        img {
                            width: 100px;
                            border-radius: 100%;
                        }
                        flex: 0 0 40%;
                    }
                    .text {
                        flex: 0 0 60%;
                        h3 {
                            color: $accents;
                        }
                        p {
                            color: $white;
                            padding: 10px 0;
                        }
                        span {
                            color: $accents;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &:last-child {
            flex: 0 0 40%;
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
        }
    }
}

// usluge
.usluge {
    h2 {
        color: $accents;
        & + p {
            padding: 25px 0 76px 0;
        }
    }
    article {
        @include flex($align: stretch);
        div {
            flex:  0 0 50%;
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
            &:last-child {
                background: $bg;
                padding: 100px 50px 50px 50px;
                @media(max-width: 767px) {
                    padding: 30px;
                }
                h3 {
                    color: $accents;
                    margin-bottom: 10px;
                }
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

// poruci
.poruci {
    background: linear-gradient(to right, rgba($black,.8), rgba($bg, .99)), url(img/coffee\ 5.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    @media(max-width: 767px) {
        padding: 100px 0;
        background: linear-gradient(to right, rgba($black,.7), rgba($black, .7)), url(img/coffee\ 5.jpg);
    }
    h2 {
        color: $accents;
    }
    p {
        color: $white;
        padding: 20px 0 25px 0;
    }
}

// kontakt
.kontakt {
    h2 {
        margin-bottom: 25px;
    }
    div {
        @include flex($align: flex-start);
        ul {
            flex: 0 0 30%;
            line-height: 36px;
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
            li {
                font-size: 18px;
                i {
                    color: $accents;
                    font-size: 1.2rem;
                    margin-right: 20px;
                }
            }
        }
        form {
            flex: 0 0 70%;
            @include flex;
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
            input {
                flex: 0 0 49%;
                padding: 15px;
                font-size: 18px;
                border: 1px solid $borders;
                @media(max-width: 767px) {
                    flex: 0 0 100%;
                    margin-bottom: 10px;
                }
            }
            textarea {
                flex: 0 0 100%;
                padding: 15px;
                margin: 20px 0 30px 0;
                height: 137px;
                font-size: 18px;
                border: 1px solid $borders;
            }
            button {
                border: none;
                font-size: 1rem;
                cursor: pointer;
                &:hover {
                    background: $black;
                    color: $accents;
                }
            }
        }
    }
}

// dogadjaji
.dogadjaji {
    @include flex;
    .event {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;
        flex: 0 0 32%;
        overflow: hidden;
        @media(max-width: 767px) {
            flex: 0 0 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        div {
            padding: 30px;
            img {
                width: 100%;
            }
            @media(max-width: 767px) {
                flex: 0 0 100%;
            }
            h3 {
                margin: 13px 0;
            }
            span {
                color: $accents;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }
}